:root {
  --background: #590404;
  --background: #f8e4af;
  --background1: #590404;

  --background2: #080708;
  --background3: white;
  --background4: white;
  --background5: #080708;
  --background6: #590404;
}
#root {
 display: grid;
 background-color: var(--background);
 top: 0;
  grid-template-columns: 260px 1fr; 
  grid-template-rows: 15% 1fr; 
  grid-template-areas:
    "Menu Navbar"
    "Menu body";
}
