.favoritepage{
    padding: 10% 40px;
    min-height: 100vh;
    margin-bottom: -10%;

}
.favoritepage span{
    font-size: 35px;
}
.favorites{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.nofound{
    display: flex;
    align-items: center;
    justify-content: center;
}