@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
}
.logo:hover {
  cursor: pointer;
}
.logo img {
  width: 80%;
  height: auto;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 5%;
  gap: 5px;
  font-weight: 5px bold;
  color: var(--background2);
}
.profile img {
  width: 35%;
  border: 2px solid var(--background2);
  border-radius: 100px;
}
.profile button {
  background-color: var(--background2);
  color: var(--background) ; 
  cursor: pointer;
  outline: none;
  width: 45px;
  border-radius: 100px;
  font-size: 11px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.profile button:hover {
  color: var(--background6);
  border: 2px solid;
  background-color: var(--background3);
}
.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  grid-area: Menu;
  transition: all 0.5s ease;
  background-color: var(--background);
  border-right: 1px solid var(--background3); /* Set the border style, width, and color */
  float: left;
}

.SideBar {
  overflow: auto;
}
.Menu .SideBar::-webkit-scrollbar {
  display: none;
}

.item1 {
  display: flex;
  align-items: center;
  width: 225px;
  padding: 8px 30px;
  margin: 4px 0px 0px 0px;
  position: relative;
  text-decoration: none; 
  transition: all 0.7s ease 0s;
  gap: 5px;
  font-size: 18px;
}

.list ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--background2);
}
.dark-mode-switch{
  width: 80%;
}

.label{
    color: #d9bd76; 
    padding: 10px;
}

.dark-mode-switch {
  display: flex;
  justify-content: center;
  top: 20px;
  right: 20px;
  padding: 5px;
  justify-content: space-around;
}

.dark-mode-switch input[type="checkbox"] {
  display: none;
}

.dark-mode-switch label {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #590404;
  border-radius: 25px;
  display: block;
  position: relative;
}

.dark-mode-switch label:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.dark-mode-switch input[type="checkbox"]:checked + label {
  background-color: #d9bd76;
}

.dark-mode-switch input[type="checkbox"]:checked + label:after {
  left: 25px;
}
.dark-label{
  font-size: 18px;  
  color: var(--background2);
}
